@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; /* evita scroll horizontal */
}

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  }

  .clip-mobile {
    clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
  }
}
